# Distribution / packaging
.Python
env/
build/
.ipynb_checkpoints/
dist/
database/
checkpoints/
database/
checkpoints/
siamese-triplet/
priority_classes/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.pth
*.hdf5
*.egg
node_modules
__pycache__/
*.pyc
.coverage
htmlcov
cover
*.ipynb
/vis
/kept_models
# Serverless directories
.serverless
/kept_models
*.json
/results
*.html